<p id="notice"><%= notice %></p>

<h1>Tickets</h1>
  <div class="row">
    <div class="col m3 s12">
      <p class="teal-text">Signed in as <%=current_user.name.titleize%></p>
      <div class="clear"></div>
      <nav class="teal">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <div class="collection">
        <%= link_to 'New Ticket', new_ticket_path, class:"collection-item" %>
        <%= link_to 'View Pending Tickets', tickets_path(), class:"collection-item" %>
        <%= link_to 'View Resolved Tickets', tickets_path(resolved: true ), class:"collection-item" %>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="ticket-container">
        <div class="row">
          <% @tickets.each do |ticket| %>
            <div class="col s12 m6 l6">
              <div class="card" >
                <div class="card-content black-text">
                  <%= render partial: 'claim_status', locals: {ticket: ticket} %>
                  <p class="text"><%= ticket.comment.humanize %><br/><br/></p>
                  <div class="clear"></div>
                  <br>
                  <a class="left blue lighten-3 white-text chip waves-effect waves-light btn modal-trigger" href="#<%=ticket.id%>">View More</a>
                  <div class="right chip red lighten-4"><%= ticket.submitted_by.titleize %></div>
                  <div class="clear"></div>
                  <br>
                </div>
                <div class="card-action">
                  <%= render partial: 'ticket_status', locals: {ticket: ticket} %>
                </div>
              </div>
            </div>
            <%= render partial: "ticket_modal", locals: {ticket: ticket} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
     // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
     $('.modal-trigger').leanModal();
   });
</script>
<style>
.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
</style>
